$themes: (
	light: (
		textColor: #000,
		bg: white,
		logo: darkblue,
		bgSoft: #f6f3f3,
		textColorSoft: #555,
		border: lightgray,
	),
	dark: (
		textColor: whitesmoke,
		bg: #222,
		logo: white,
		bgSoft: #333,
		textColorSoft: lightgray,
		border: #444,
	),
);

@mixin themify($themes) {
	@each $theme, $map in $themes {
		.theme-#{$theme} & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get(map-get($themes, $theme), '#{$key}');
				$theme-map: map-merge(
					$theme-map,
					(
						$key: $value,
					)
				) !global;
			}
			@content;
			$theme-map: null !global;
		}
	}
}

@function themed($key) {
	@return map-get($theme-map, $key);
}

@mixin mobile {
	@media (max-width: 480px) {
		@content;
	}
}
@mixin tablet {
	@media (max-width: 960px) {
		@content;
	}
}
::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-thumb {
	background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.skeleton {
	position: relative;
	overflow: hidden;
	background-color: #0a2955;
	&::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transform: translateX(-100%);
		background-image: linear-gradient(
			90deg,
			rgba(#193763, 0) 0,
			rgba(#193763, 0.2) 20%,
			rgba(#193763, 0.5) 60%,
			rgba(#193763, 0)
		);
		animation: shimmer 2s infinite;
		content: '';
	}

	@keyframes shimmer {
		100% {
			transform: translateX(100%);
		}
	}
}
